@import '@static/colors';
@import '@static/animation';

$arrowLeft: url('@assets/images/arrowLeft.svg');
$arrowRight: url('@assets/images/arrowRight.svg');

.certificatesWrapper {
  align-items: center;
  background-color: $secondaryDarkAlpha60;
  border: 1px solid $secondaryDark;
  border-radius: 8px;
  display: flex;
  height: 560px;
  justify-content: space-between;
  padding: 0 95px 0 95px;
  width: 100%;
}

.carousel {
  align-items: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.slides {
  display: flex;
  gap: 30px;
  overflow: hidden;
  transition: transform 0.5s;
}

.slide {
  transition: transform 0.5s;
  width: 100%;
}

.slidesLeft {
  transform: translateX(100%);
}

.slidesRight {
  transform: translateX(-100%);
}

.previousButton {
  background: $arrowLeft;
  border: none;
  height: 46px;
  width: 46px;
}

.nextButton {
  background: $arrowRight;
  border: none;
  height: 46px;
  width: 46px;
}
