@import '@static/animation';
@import '@static/screens';

.content {
  position: fixed;
  top: 25%;
  left: 50%;
  right: 0;
  z-index: -1;

  &__mainIsland {
    width: auto;
    height: auto;
    animation: animationMainIsland 3s ease-in-out infinite;
    z-index: 1;
  }

  &__topRightIsland {
    width: auto;
    height: auto;
    animation: animationSmallIsland 3s ease-in-out infinite;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__bottomRightIsland {
    width: auto;
    height: auto;
    animation: animationSmallIsland 3s ease-in-out infinite;
    position: fixed;
    bottom: 20%;
    right: 0;
  }

  &__topLeftIsland {
    width: auto;
    height: auto;
    position: absolute;
    animation: animationSmallIsland 3s ease-in-out infinite;
    left: 0;
    top: 0;
  }

  &__leftBottomSide {
    width: auto;
    height: auto;
    animation: animationMainIsland 3s ease-in-out infinite;
    position: fixed;
    bottom: -20px;
    left: 0;
    z-index: -1;
  }

  &__mainIsland,
  &__topRightIsland,
  &__bottomRightIsland,
  &__topLeftIsland,
  &__leftBottomSide {
    @media screen and (max-width: $laptop) {
      visibility: hidden;
    }
  }

  &__cloudsTopLeft {
    width: auto;
    height: auto;
    animation: moveCloudLeftToRight 10s linear infinite;
    position: fixed;
    bottom: 15%;
    z-index: -1;
  }

  &__cloudsTopRight {
    width: auto;
    height: auto;
    animation: moveCloudRightToLeft 10s linear infinite;
    position: fixed;
    top: 10%;
    z-index: -1;
  }
}
