@import "@static/colors";
@import "@static/animation";

$arrowLeft: url('@assets/arrowLeft.svg');
$arrowRight: url('@assets/arrowRight.svg');

.projectsWrapper {
  display: flex;
  width: 100%;
  height: 560px;
  background-color: $blueDark3;
  border: 1px solid $blueDark2;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 95px 0 95px;
}

.carousel {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.slides {
  display: flex;
  overflow: hidden;
  gap: 30px;
  transition: transform 0.5s;
}

.slide {
  width: 100%;
  transition: transform 0.5s;
}

.slidesLeft {
  transform: translateX(100%);
}

.slidesRight {
  transform: translateX(-100%);
}

.previousButton {
  background: $arrowLeft;
  width: 46px;
  height: 46px;
  border: none;
}

.nextButton {
  background: $arrowRight;
  width: 46px;
  height: 46px;
  border: none;
}
