@import '@static/colors';

$closeIcon: url('@assets/images/closeIcon.svg');

.popUpOverlay {
  display: flex;
  height: 90vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 5%;
  width: 100%;
}

.popUp {
  background-color: $grayDark3;
  border-radius: 5px;
  overflow: auto;
  padding: 20px;
  position: relative;
  z-index: 999;

  &__closeButton {
    background: $closeIcon center/cover;
    border: none;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
  }

  &__children {
    margin-top: 30px;
  }
}
