@import '@static/colors';
@import '@static/mixins';

.card {
  @include label();
  background: $secondaryDarkAlpha100;
  border: 1px solid $secondaryDark;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 370px;
  padding: 30px;
  width: 400px;

  &__certificateName {
    align-self: center;
    color: $purple;
    overflow-wrap: break-word;
  }

  &__seeButton {
    align-items: center;
    background: $grayDark3;
    border: 1px solid $secondaryDark;
    border-radius: 8px;
    color: $white;
    display: flex;
    justify-content: center;
    margin: auto auto 0 auto;
    padding: 8px 12px;
    width: 100px;
  }
}
