@import '@static/colors';
@import '@static/mixins';

.card {
  @include label();
  background: $secondaryDarkAlpha100;
  border: 1px solid $secondaryDark;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 370px;
  padding: 30px;
  width: 400px;

  &__projectName {
    align-self: center;
    color: $purple;
    overflow-wrap: break-word;
  }

  &__language {
    @include text();
    align-self: center;
    color: $red;
    overflow-wrap: break-word;
  }

  &__description {
    color: $grayLight2;
    display: block;
    overflow-wrap: break-word;
    width: 100%;
  }

  &__linkWrapper {
    display: flex;
    gap: 15px;
    margin-top: auto;

    &__link {
      align-items: center;
      background: $grayDark3;
      border: 1px solid $secondaryDark;
      border-radius: 8px;
      color: $white;
      display: flex;
      justify-content: center;
      padding: 8px 12px;
    }
  }
}
