@import '@static/colors';
@import '@static/mixins';

.codePlace {
  @include body();
  background-color: $grayDark2;
  border: 1px solid $secondaryDark;
  border-radius: 8px;
  color: $green;
  display: flex;
  flex-direction: column;
  min-height: 560px;
  padding: 25px 25px 25px 54px;
  width: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 1.2em;
    padding: 15px 15px 15px 24px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 0.8em;
    padding: 10px 10px 10px 16px;
  }

  &__line {
    display: flex;
    height: 100%;
    margin-top: 5px;
    text-wrap: revert;

    &__import,
    &__from {
      color: $pink;
      overflow-y: hidden;
    }

    &__aboutMe {
      color: $primaryLight;
    }

    &__portfolio {
      color: $red;
    }
  }
}
