@import '@static/colors';
@import '@static/mixins';

.codePlace {
  @include body();
  background-color: $grayDark2;
  border: 1px solid $blueDark2;
  border-radius: 8px;
  color: $green;
  display: flex;
  flex-direction: column;
  height: 560px;
  padding: 25px 25px 25px 54px;
  width: 100%;

  &__line {
    align-items: center;
    display: flex;

    &__number {
      color: $grayLight2;
      width: 2.5em;
    }

    &__text {
      flex: 1;
    }

    &__import,
    &__from {
      color: $pink;
    }

    &__aboutMe {
      color: $blueLight;
    }

    &__portfolio {
      color: $red;
    }
  }
}
