@import '@static/mixins';
@import '@static/colors';
@import '@static/screens.scss';

.header {
  align-items: center;
  border-bottom: 1px $primaryDark solid;
  display: flex;
  height: 80px;
  margin-bottom: 40px;

  &__logoText {
    @include label();
    color: $grayLight;
    display: block;
    width: 206px;
  }

  &__burgerMenu_open,
  &__burgerMenu_close {
    margin-left: auto;
    z-index: 30;
  }
}
