@import '@static/mixins';
@import '@static/animation';
@import '@static/colors';

$downloadIcon: url('@assets/images/download.svg');

.welcome {
  @include h2();
  color: $gray;
  margin-bottom: 15px;
}

.location {
  @include h2();
  color: $gray;
  margin-bottom: 100px;

  &__country {
    color: blue;
  }

  &__city {
    color: yellow;
  }
}

.position {
  @include h1();
  color: $purple;
  height: 150px;
}

.comment {
  @include body();
  color: $grayDarkAlpha50;
}

.code {
  @include body();
  overflow-wrap: break-word;

  &__const {
    color: $purpleLight;
  }

  &__nameVariable {
    color: $green;
  }

  &__link {
    color: $red;
  }
}

.cvLink {
  @include label();
  align-items: center;
  border: 1px $green solid;
  border-radius: 32px;
  color: $white;
  cursor: pointer;
  display: flex;
  height: 61px;
  justify-content: center;
  margin-top: 31px;
  position: relative;
  width: 226px;
  z-index: 1;

  &:before {
    content: $downloadIcon;
    height: 21px;
    margin-right: 20px;
    width: 18px;
  }

  &:hover {
    border: 1px $white solid;
  }
}
