@import '@static/mixins';
@import '@static/animation';
@import '@static/colors';

$downloadIcon: url('@assets/download.svg');

.text {
  &__welcome {
    @include h2();
    color: $gray;
    margin-bottom: 15px;
  }

  &__location {
    @include h2();
    color: $gray;
    margin-bottom: 100px;

    &__country {
      color: blue;
    }

    &__city {
      color: yellow;
    }
  }

  &__position {
    @include h1();
    color: $purple;
    margin-bottom: 75px;
  }

  &__comment {
    @include body();
    color: $grayDark;
  }

  &__code {
    @include body();
    overflow-wrap: break-word;

    &__const {
      color: $purpleLight;
    }

    &__nameVariable {
      color: $green;
    }

    &__linkText {
      color: $red;
    }
  }
}

.cvLink {
  @include label();
  display: flex;
  border: 1px $green solid;
  border-radius: 32px;
  margin-top: 31px;
  width: 226px;
  height: 61px;
  position: relative;
  z-index: 1;
  color: $white;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:before {
    content: $downloadIcon;
    width: 18px;
    height: 21px;
    margin-right: 20px;
  }

  &:hover {
    border: 1px $white solid;
  }
}
