@keyframes moveCloudRightToLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -550px;
  }
}

@keyframes moveCloudLeftToRight {
  0% {
    left: -550px;
  }
  100% {
    left: 100%;
  }
}

@keyframes animationMainIsland {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes animationSmallIsland {
  0%, 100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
}
