$blueDark1: #011221;
$blueDark2: #1E2D3D;
$blueDark3: rgba(1, 18, 33, 0.6);
$blueDark4: rgba(1, 18, 33, 1);
$blueLight: #9cdcfe;
$gray: #E5E9F0;
$grayLight: rgba(96, 123, 150, 1);
$grayLight2: #9d9d9d;
$grayDark: rgba(96, 123, 150, 0.5);
$grayDark2: #1f1f1f;
$grayDark3: rgba(28, 43, 58, 1);
$white: #FFF;
$green: #6a9955;
$red: #ce9178;
$pink: #c586c0;
$purple: #4D5BCE;
$purpleLight: #7000FF;
