$primaryDark: #011221;
$secondaryDark: #1e2d3d;
$secondaryDarkAlpha60: rgba(1, 18, 33, 0.6);
$secondaryDarkAlpha100: rgba(1, 18, 33, 1);
$black: #070707;
$primaryLight: #9cdcfe;
$gray: #e5e9f0;
$grayLight: rgba(96, 123, 150, 1);
$grayLight2: #9d9d9d;
$grayDarkAlpha50: rgba(96, 123, 150, 0.5);
$grayDark2: #1f1f1f;
$grayDark3: rgba(28, 43, 58, 1);
$white: #fff;
$green: #6a9955;
$red: #ce9178;
$pink: #c586c0;
$purple: #4d5bce;
$purpleLight: #7000ff;
