@import '@static/screens';
@import '@static/colors';

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border: 3px solid $primaryDark;
    border-radius: 20px;
  }
}

body {
  background: $black;
  padding: 46px 90px 46px 76px;

  @media screen and (max-width: $laptop) {
    padding: 20px 45px 20px 45px;
  }
}

main {
  align-items: center;
  display: flex;
  height: calc(100vh - 120px);
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: $laptop) {
    height: 100%;
  }
}

span {
  color: $white;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}
