@import '@static/screens';

$base-font-size: 16px;

@mixin typography-style() {
  font-family: Fira Code,
  monospace;
}

@mixin h1 {
  @include typography-style();
  font-size: 3.625em;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

@mixin h2 {
  @include typography-style();
  font-size: 2em;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

@mixin body {
  @include typography-style();
  font-size: 1.5em;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
}

@mixin label {
  @include typography-style();
  font-size: 1.125em;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

@mixin text {
  @include typography-style();
  font-size: 0.875em;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
