* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #070707;
    padding: 46px 90px 46px 76px;
}

span {
    color: white;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, a {
    cursor: pointer;
}
